:root{ 

	--secondary: #fdd100; 
	--secondary-s: #FFF6C8;
	--shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	--transition: .25s ease;
	--red: #DC3545;
	--red-s: #FAE3E5;
	--green: #28A745;
	--green-s: #CBF2D4;
	--blue: #17A2B8;
	--blue-s: #D9F6FA;
	--yellow: #ffc107;
	--yellow-s: #FFFBED;
}
.btn-primary{color:var(--primary);background-color:var(--primary-s);border-color:var(--primary-s)}
.btn-primary:hover{color:var(--white);background-color:var(--primary);border-color:var(--primary)}
.btn-check:focus+.btn-primary,
.btn-primary:focus{color:var(--white);background-color:var(--primary);border-color:var(--primary);box-shadow:0 0 0 .25rem var(--primary-s)}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{color: var(--white);background-color: var(--primary);border-color: var(--primary);}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .25rem var(--primary-s);}
.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle{color:var(--white);background-color:var(--primary);border-color:var(--primary)}
.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .25rem var(--primary-s);}
.btn-primary.disabled,.btn-primary:disabled{color:var(--primary);background-color:var(--white);border-color:var(--primary-s)}